.reminder{ // 提示
  margin: 20px 0;
  font-size: 24px;
  height: 400px;
}
.swiper-item{
  display: flex;
}
.swiper-item:nth-child(1){
  margin-bottom: 5px;
}
.list{
  text-align: center;
  flex: 1;
  height: 120px;
  padding: 26px 0;
  margin-right: 5px;
  background: #fff;
  line-height: 40px;
}
.list:nth-child(4){
  margin-right: 0;
}
.pb-12{
  padding-bottom: 12px;
}
.c-666{
  color: #666;
}
.f-10{
  font-size: 20px;
}
.t-c{
  text-align: center;
}
