.trenddetails{
  background-color: #fff;
  padding: 40px 20px;
  font-size: 24px;
  .header, .footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .item{
    flex: 1;
  }
  .c-666{
    color: #666;
  }
  .l-60{
    line-height: 60px;
  }
}


